<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>swift2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F54EC45C1C328A0300A57A0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F54EC4701C328A0300A57A0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F54EC47B1C328A0300A57A0E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
